.content {
    position: relative;
    left: 200px;
    top: 60px;
    width: 80%;

}

.title {
    text-decoration: underline;
    text-align: center;
    position: relative;
    font-size: 45px;
    left: 120px;
    top: 20px;
    max-width: 70%;
}

#img_logo_totoro {
    position: relative;
    left: 40%;
}

#img_logo_totoro_desc{
    position: relative;
    left: 21%;
    top: 10px;
}